%form{:action => "/node_edit", :method => "post"}
  %label{:for => "name"}
    Zone Name
  %input{:type => "text", :size => "30", :name => "name", :value => @zone.props["name"]}
  %label{:for => "name"}
    Erlang Cookie
  %input{:type => "text", :size => "30", :name => "erlang_cookie", :value => @zone.props["erlang_cookie"]}
  %input{:type => "hidden", :name => "zone_id", :value => @zone.props["zone_id"]}
  %input{:type => "submit", :value => "Update", :class => "btn"}