%form{:action => "/node_edit", :method => "post"}
  %label{:for => "name"}
    Node Name
  %input{:type => "text", :size => "30", :name => "name", :value => @node["name"]}
  %label{:for => "name"}
    IP Address
  %input{:type => "text", :size => "30", :name => "ip", :value => @node["ip"]}
  %label Select Role
  %select{:name => "role"}
    %option{:value => "freeswitch"} FreeSWITCH
    %option{:value => "bigcouch"} BigCouch
    %option{:value => "whapps"} Whapps/Ecallmgr
    %option{:value => "opensips"} OpenSIPS
  %input{:type => "hidden", :name => "node_id", :value => @node["id"]}
  %input{:type => "submit", :value => "Update", :class => "btn"}