%h1 Support

%table{:border => 0, :width => "100%"}
	%tr{:align => "left"}
		%th Lookup a Number
		%th Verify a Number
		%th Account Lookup
	%tr
		%td
			%span= @environment.clusters.size.to_s + " cluster(s)"
			%ul
				- @environment.clusters.each do |cluster|
					%li
						%a{:href => "/clusters/#{cluster.id}"}= cluster.props["name"]
		%td
		%td
			%form{ :action => "/numbersearch", :method => "post"}
				Number or Account Name 
				%input{:type => "text", :size => "20", :name => "number"}
				%input{:type => "submit", :value => "Deploy", :class => "btn"}
	%tr{:align => "left"}
		%th Debug Logs
		%th Trace a Call
		%th Find an Account
