%h1 Support

%table{:border => 1, :width => "100%"}
	%tr{:align => "left"}
		%th Lookup a Number
		%th Verify a Number
		%th Account Lookup
	%tr
		%td
			%span= @environment.clusters.size.to_s + " cluster(s)"
			%ul
				- @environment.clusters.each do |cluster|
					%li
						%a{:href => "/clusters/#{cluster.id}"}= cluster.props["name"]
		%td
		%td
			%form{ :action => "/numbersearch", :method => "post"}
				Number or Account Name 
				%input{:type => "text", :size => "20", :name => "number"}
				%input{:type => "submit", :value => "Search", :class => "btn"}

	%tr{:align => "left"}
		%th Debug Logs
		%th Trace a Call
		%th
			Set Nagios Downtime or 
			%a{:href => "/nagios_info"} List Downtime Requests
	%tr
		%td
		%td
		%td
			%form{ :action => "/nagios", :method => "post"}
				Hostname:
				%input{:type => "text", :size => "10", :name => "hostname"}
				Start Time:
				%input{:type => "text", :size => "10", :name => "starttime"}
				%br/
				Duration:
				%input{:type => "text", :size => "10", :name => "duration"}
				Comment:
				%input{:type => "text", :size => "10", :name => "comment"}
				%input{:type => "submit", :value => "Submit", :class => "btn"}

	%tr{:align => "left"}
		%th placeholder 1
		%th placeholder 2
		%th Test Nagios Form DO NOT USE
	%tr
		%td
		%td
		%td
			%form{ :action => "/nagiostest", :method => "post"}
				Hostname: 
				%input{:type => "text", :size => "10", :name => "hostname"}
				Duration: 
				%input{:type => "text", :size => "10", :name => "duration"}
				Comment: 
				%input{:type => "text", :size => "10", :name => "comment"}
				= partial "forms/nagiostest"
				%input{:type => "submit", :value => "submit", :class => "btn"}
